.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: fit-content; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: relative;
}

.bookmark-button {
    cursor: pointer;
}

.bookmark-heart {
    width: 30px;
    height: auto;
    position: absolute;
    right: 15px;
}

.name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.card img.pokemon-image {
    width: 35%;
    height: auto;
}

@media screen and (min-width: 576px) {
    .card img.pokemon-image {
        width: 50%;
    }
}