<a class="card" routerLink="/detail/{{pokemonInformation.id}}">
    <button class="bookmark-button" [title]="pokemonInformation.isBookmarked ? 'Remove pokemon from favorites' : 'Add pokemon to favorites'">
        <img class="bookmark-heart"
            [src]="pokemonInformation.isBookmarked ? 'assets/filled-heart.png' : 'assets/heart.png'"
            (click)="bookmarkPokemon($event)">
    </button>

    <div class="name">
        {{pokemonInformation.name}}
    </div>
    <img class="pokemon-image"
        src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonInformation.id}}.png'
        alt='{{pokemonInformation.name}}-image'>
</a>