li {
    list-style-type: none;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.detail-card {
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px 20px;
    background: rgb(172, 213, 238);
    background: linear-gradient(180deg, rgba(172, 213, 238, 1) 0%, rgba(240, 240, 240, 1) 56%);
}

.pokemon-name {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main-image-container>img {
    width: 60%;
    height: auto;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.animated-sprite-container {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #9483a4;
    margin-bottom: 20px;
}

.sprites-container {
    display: flex;
    background-color: #208bac;
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-title {
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
    color: #d50808;
}

.chip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chip {
    padding: 5px 10px;
    text-transform: capitalize;
    border: 3px solid black;
    border-radius: 25px;
    margin: 3px 7px;
    font-size: 16px;
}

.ability-chip {
    background-color: #d55239;
    border-color: #d55239;
    color: white;
    font-weight: bold;
}

.game-chip {
    background-color: #83cd6a;
    border-color: #83cd6a;
    color: white;
    font-weight: bold;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

@media screen and (min-width: 576px) {
    .main-image-container>img {
        width: 40%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .detail-card {
        width: fit-content;
        max-width: 50%;
    }

    .main-image-container>img {
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .detail-card {
        max-width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .detail-card {
        max-width: 40%;
    }

    .main-image-container>img {
        width: 40%;
        height: auto;
    }
}